{% extends "blog3/padre.html" %}

{% load static %}

{% block Pagina %}

<header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://img.freepik.com/fotos-premium/libros-antiguos-estanterias-biblioteca-antigua-concepto-educacion-literatura-ilustracion-3d_505080-15.jpg?w=2000')">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Acerca de mi</h1>
                </div>
            </div>
        </header>

                <h2 class="fw-bolder mb-4 mt-5">Juan Maria Rodriguez Cabral</h2>
                <section class="mb-5">
                    <p class="fs-5 mb-4">Tengo 32 años, vivo en la ciudad de Bragado, y trabajo como analista de produccion en Le Utthe, empresa textil oriunda de Bragado</p>
                    <p class="fs-5 mb-4"> Hace un año que vengo adquiriendo herramientas de programacion, entre ellas Python, SQL, Docker, etc. Me interesa abocarme especialmente en la ingenieria de datos </p>
                    <p class="fs-5 mb-4"> Esta es una pagina web que arme utilizando la libreria Django, con el fin de presentarla como entrega final del curso de python de Coderhouse </p>

                </section>
            </article>
        <!-- Side widgets-->

    </div>
</div>

{% endblock %}