{% extends "blog3/padre.html" %}

{% load static %}

{% block Pagina %}
<header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://img.freepik.com/fotos-premium/libros-antiguos-estanterias-biblioteca-antigua-concepto-educacion-literatura-ilustracion-3d_505080-15.jpg?w=2000')">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Dracula</h1>
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Bram Stoker</h1>
                    <h3 class="lead mb-4" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">1863</h3>
                </div>
            </div>
        </header>

                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2020/06/christopher-lee-como-dracula-1973693.jpg?itok=uuzp4GMc" alt="..." /></figure>
                <!-- Post content-->
                <h2 class="fw-bolder mb-4 mt-5">Sinopsis</h2>
                <section class="mb-5">
                    <p class="fs-5 mb-4">Dracula es una novela gótica escrita por Bram Stoker en 1897. La historia sigue al joven abogado Jonathan Harker, quien viaja a Transilvania para ayudar al Conde Dracula en la compra de una propiedad en Inglaterra. Mientras está en Transilvania, Harker descubre que Dracula es un vampiro y se da cuenta de que su vida está en peligro.</p>
                    <p class="fs-5 mb-4">Regresa a Inglaterra y cuenta su historia a su amigo, el Dr. John Seward, quien está tratando a una paciente, Renfield, con trastorno mental. Mientras tanto, la novia de Harker, Mina Harker, y su mejor amiga, Lucy, comienzan a experimentar extraños sucesos mientras están en Inglaterra.</p>
                    <p class="fs-5 mb-4">La novela es considerada como un clásico de la literatura gótica y ha sido adaptada en numerosas ocasiones en teatro, cine y televisión. La figura del Conde Dracula se ha convertido en un icono cultural y ha sido retratado en innumerables interpretaciones en todas las formas de medios de comunicación. La novela también ha sido elogiada por su estilo literario y su capacidad para mantener al lector en vilo hasta el final.</p>


                    <h2 class="fw-bolder mb-4 mt-5">Acerca del autor</h2>

                    <figure class="mb-4"><img class="img-fluid rounded" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/34/Bram_Stoker_1906.jpg/220px-Bram_Stoker_1906.jpg" alt="..." /></figure>

                    <p class="fs-5 mb-4"> Abraham "Bram" Stoker (Clontarf; 8 de noviembre de 1847 - Londres; 20 de abril de 1912) fue un novelista y escritor irlandés, conocido por su novela Drácula (1897).</p>
                    <p class="fs-5 mb-4"> Hijo de Abraham Stoker y Charlotte Mathilda Blake Thornley, Bram Stoker fue el tercero de siete hermanos. Su familia era burguesa, trabajadora y austera, cuya única fortuna eran los libros y la cultura. Su mala salud lo obligó a llevar a cabo sus primeros estudios en su hogar con profesores privados, ya que pasó sus primeros siete años de vida en cama debido a distintas enfermedades. Mientras se encontraba enfermo su madre le contaba historias de fantasmas y misterios, que más tarde influyeron en su obra. </p>

                    <h2 class="fw-bolder mb-4 mt-5">Link de descarga</h2>
                    <h5 class="fw-bolder mb-4 mt-5">Atencion! Este link te llevara a una pagina externa</h5>
                    <a href=https://www.espaebook2.com/book/dracula-ilustrado-3/ target="_blank">Dracula</a>

                </section>
            </article>
        <!-- Side widgets-->

    </div>
</div>

{% endblock %}