{% extends "blog3/padre.html" %}

{% load static %}

{% block Pagina %}

<header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://img.freepik.com/fotos-premium/libros-antiguos-estanterias-biblioteca-antigua-concepto-educacion-literatura-ilustracion-3d_505080-15.jpg?w=2000')">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">El Nombre de la rosa</h1>
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Umberto Eco</h1>
                    <h3 class="lead mb-4" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">1980</h3>
                </div>
            </div>
        </header>

               
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://descargarlibrosenpdf.files.wordpress.com/2017/05/en-el-nombre-de-la-rosa1.jpg" alt="..." /></figure>
                <!-- Post content-->
                <h2 class="fw-bolder mb-4 mt-5">Sinopsis</h2>
                <section class="mb-5">
                    <p class="fs-5 mb-4">Es la Edad Media en la vecindad del invierno de 1327 bajo el papado de Juan XXII. El franciscano Guillermo de Baskerville y su discípulo, el novicio benedictino Adso de Melk, llegan a una abadía benedictina ubicada en la Italia septentrional y famosa por su impresionante biblioteca, la cual tiene unas estrictas normas de acceso. Guillermo debe organizar una reunión entre los delegados del papa y los líderes de la orden franciscana, en la que se discutirá sobre la supuesta herejía de la doctrina de la pobreza apostólica, promovida por una rama de la orden franciscana: los espirituales. La celebración y el éxito de dicha reunión se ven amenazados por una serie de muertes que los supersticiosos monjes, a instancias del ciego exbibliotecario Jorge de Burgos, consideran que siguen la pauta de un pasaje del Apocalipsis.
                        Guillermo y Adso, evadiendo en muchos momentos las normas de la abadía, intentan resolver el misterio descubriendo que, en realidad, las muertes giran alrededor de la existencia de un libro envenenado, un libro que se creía perdido: el segundo libro de la Poética de Aristóteles. La llegada del enviado papal e inquisidor Bernardo Gui inicia un proceso inquisitorial de amargo recuerdo para Guillermo, que en su búsqueda ha descubierto la magnífica y laberíntica biblioteca de la abadía. El método científico de Guillermo se ve enfrentado al fanatismo religioso representado por Jorge de Burgos.</p>


                    <h2 class="fw-bolder mb-4 mt-5">Acerca del autor</h2>

                    <figure class="mb-4"><img class="img-fluid rounded" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/64/Italiaanse_schrijver_Umberto_Eco%2C_portret.jpg/220px-Italiaanse_schrijver_Umberto_Eco%2C_portret.jpg" alt="..." /></figure>

                    <p class="fs-5 mb-4">Umberto Eco (Alessandria, 5 de enero de 1932-Milán, 19 de febrero de 2016)1​fue un semiólogo, filósofo y escritor italiano, autor de numerosos ensayos sobre semiótica, estética, lingüística y filosofía, así como de varias novelas, entre ellas El nombre de la rosa, El pendulo de Foucault, Numero Cero, Baudolino, entre otros.</p>

                    <h2 class="fw-bolder mb-4 mt-5">Link de descarga</h2>
                    <h5 class="fw-bolder mb-4 mt-5">Atencion! Este link te llevara a una pagina externa</h5>
                    <a href="https://www.espaebook2.com/book/el-nombre-de-la-rosa/" target="_blank">El nombre de la Rosa</a>

                </section>
            </article>
        <!-- Side widgets-->

    </div>
</div>

{% endblock %}