{% extends "blog3/padre.html" %}

{% load static %}

{% block Pagina %}
<header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://img.freepik.com/fotos-premium/libros-antiguos-estanterias-biblioteca-antigua-concepto-educacion-literatura-ilustracion-3d_505080-15.jpg?w=2000')">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Los Pilares de la tierra</h1>
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Ken Follet</h1>
                    <h3 class="lead mb-4" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">2010</h3>
                </div>
            </div>
        </header>

               
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="https://i.blogs.es/6ae43d/los-pilares-de-la-tierra/1366_2000.jpg" alt="..." /></figure>
                <!-- Post content-->
                <h2 class="fw-bolder mb-4 mt-5">Sinopsis</h2>
                <section class="mb-5">
                    <p class="fs-5 mb-4">El doctor Samuel Ferguson, sabio y explorador inglés, acompañado por su criado Joe y por su amigo Dick Kennedy, decide atravesar el continente África africano, que hasta ese momento solo era conocido de modo fragmentario, usando un Globo aerostático globo hinchado con hidrógeno. Un dispositivo de su invención, que permite subir o bajar a voluntad sin perder gas o echar lastre en busca de corrientes favorables, convierte al globo en un aparato dirigido.</p>
                    <p class="fs-5 mb-4">La idea de este viaje es unir las exploraciones realizadas por Burton y Speke en el África Oriental con las de Heinrich Barth en las regiones del Sahara y el Chad, y hallar las fuentes del Nilo.</p>
                    <p class="fs-5 mb-4">Los tres aeronautas parten de la isla de Zanzíbar en el globo Victoria y recorren durante cinco semanas los Montes de la Luna (donde sucede la aventura del elefante remolcador), el lago Victoria (que reconocen como la fuente del Nilo), el Nilo, los montes Auríferos (donde suceden las aventuras del misionero, de la codicia y de la sed), el lago Chad (donde el globo es deshecho y Joe se pierde), el desierto del Sahara (el huracán), el río Níger (donde el nuevo Victoria comienza a fallar), las cercanías del río Senegal (donde ocurre el ataque de los talibas) hasta las cataratas de Güina en el río Senegal, antes de volver a Inglaterra, donde son recibidos con entusiasmo y ganan la medalla de oro por la mejor aventura del año 1862</p>


                    <h2 class="fw-bolder mb-4 mt-5">Acerca del autor</h2>

                    <figure class="mb-4"><img class="img-fluid rounded" src="//upload.wikimedia.org/wikipedia/commons/4/4c/Ken_Follett_official.jpg" alt="..." /></figure>

                    <p class="fs-5 mb-4"> Jules Gabriel Verne, conocido en los países hispanohablantes como Julio Verne (Nantes, 8 de febrero de 1828-Amiens, 24 de marzo de 1905), fue un escritor francés, célebre por sus novelas de aventuras y por su profunda influencia en el género literario de la ciencia ficción.</p>
                    <p class="fs-5 mb-4"> Es uno de los escritores más importantes de Francia y de toda Europa gracias a la evidente influencia de sus libros en la literatura vanguardista y el surrealismo, y desde 1979 es el segundo autor más traducido en el mundo, después de Agatha Christie. Se le considera, junto a H. G. Wells, uno de los «padres de la ciencia ficción». </p>

                    <h2 class="fw-bolder mb-4 mt-5">Link de descarga</h2>
                    <h5 class="fw-bolder mb-4 mt-5">Atencion! Este link te llevara a una pagina externa</h5>
                    <a class="fw-bolder mb-4 mt-5">LINK EN CONSTRUCCION!</a>

                </section>
            </article>
        <!-- Side widgets-->

    </div>
</div>

{% endblock %}