{% extends "blog3/padre.html" %}

{% load static %}

{% block Pagina %}

<header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://img.freepik.com/fotos-premium/libros-antiguos-estanterias-biblioteca-antigua-concepto-educacion-literatura-ilustracion-3d_505080-15.jpg?w=2000')">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Comenta que libro te gustaria que analice y comparta para descargar!</h1>
                </div>
            </div>
        </header>

<h1 class="mb-5">Ingresa libro, autor, genero, y año de publicacion! </h1>


<div class="row">
    <div class="col-md-6">
        <form id="formulario" action="{% url 'sugerenciascrear' %}" method="POST"> {% csrf_token %}
            <table style="margin-left: 70px">
                {{ form.as_table }}
            </table>
            <br>
            <input type="submit" style="margin-left: 270px" value="Sugerir">
        </form>
    </div>
    <div class="col-md-6">
        <h4>Ayudanos a mantener nuestra base de datos ordenada, evitando repetir sugerencias!</h4>
        <a class="btn btn-outline-success align-self-end" style="margin-left: 5px" href="{% url 'sugerenciaslista' %}">Consultar libros ya sugeridos</a>
    </div>
</div>

{% endblock %}