{% extends "blog3/padre.html" %}

{% load static %}
{% block Pagina %}

<!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4" style="background-image: url('https://img.freepik.com/fotos-premium/libros-antiguos-estanterias-biblioteca-antigua-concepto-educacion-literatura-ilustracion-3d_505080-15.jpg?w=2000')">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color: #c8c8c8; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Dejanos un mensaje y tu direccion de mail con lo que quieras decirnos! A la brevedad, te contestaremos!</h1>
                </div>
            </div>
        </header>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat</h1>
    <form action="{% url 'enviar_mensaje' %}" method="post">
    {% csrf_token %}
    <textarea name="texto"></textarea><br>
    <label for='correo'> correo </label>
    <input type='email' name='correo' id='correo'><br>
    <input type="submit" value="Enviar">
</form>
</form>
</form>
</body>
</html>

<div>
    {% for mensaje in mensajes %}
    <p>Mensaje: {{ mensaje.texto }}</p>
    <p>Correo: {{ mensaje.correo }}</p>
    {% endfor %}
</div>

{% endblock %}